<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/chris-briddock/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="chris-briddock" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
    <packageSourceMapping>
        <!-- GitHub packages -->
        <packageSource key="github">
            <package pattern="ChristopherBriddock.AspNetCore.Extensions" />
            <package pattern="ChristopherBriddock.AspNetCore.HealthChecks" />
        </packageSource>
        <!-- All other packages from nuget.org -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
